<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <p>Select:</p>
    <p *ngIf="!action">
      <input type="radio" value="mul" name="action" required [(ngModel)]="action"> Multiplication
      <input type="radio" value="div" name="action" required [(ngModel)]="action"> Division
      <input type="radio" value="sum" name="action" required [(ngModel)]="action"> Sum
      <input type="radio" value="sub" name="action" required [(ngModel)]="action"> Sub
      <input type="radio" value="fra" name="action" required [(ngModel)]="action"> Fraction
    </p>
  </h1>
  <!-- <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<!-- <h2>Solve the multiplication: </h2> -->

<!-- <p>{{action}}</p> -->

<!-- <p>{{(current$ | async)}}</p> -->
<div style="text-align:center">

  <div *ngIf="action === 'mul'">
    <div *ngFor="let q of shuffledQuests; let i = index">
      <div *ngIf="i === where">
        <h2>
          <p>
            <span>{{i%2 === 0 ? q[0] : q[1]}}</span> * <span>{{i%2 === 0 ? q[1] : q[0]}}</span> = ?
            <span><input #res (keyup)="0" [class.red]="res.value && res.value != (q[0] * q[1])"
                [class.green]="res.value && res.value == (q[0] * q[1])"></span>
            <span>
              &nbsp;<button *ngIf="res.value == (q[0] * q[1])" (click)="inc()">Next</button>
            </span>
          </p>
        </h2>
        <h3>
          {{math.floor(((i+1) / shuffledQuests.length)*100) | number }}% ({{i+1}} of {{shuffledQuests.length}})
        </h3>
      </div>
    </div>
  </div>

  <div *ngIf="action === 'div'">
    <div *ngFor="let q of shuffledQuests; let i = index">
      <div *ngIf="i === where">
        <h2 *ngIf="i%2 === 0 ? q[1] : q[0] as divisor">
          <p>
            <span>{{q[0] * q[1]}}</span> / <span>{{divisor}}</span> = ?
            <span><input #res (keyup)="0" [class.red]="res.value && res.value != (q[0] * q[1])/divisor"
                [class.green]="res.value && res.value == (q[0] * q[1])/divisor"></span>
            <span>
              &nbsp;<button *ngIf="res.value == (q[0] * q[1])/divisor" (click)="inc()">Next</button>
            </span>
          </p>
        </h2>
        <h3>
          {{math.floor(((i+1) / shuffledQuests.length)*100) | number }}% ({{i+1}} of {{shuffledQuests.length}})
        </h3>
      </div>
    </div>
  </div>

  <div *ngIf="action === 'fra'">
    <div *ngFor="let f of shuffledFractions; let i = index">
      <div *ngIf="i === where">
        <h2>
          <p>
            <sup>{{f[0]}}</sup>&frasl;<sub>{{f[1]}}</sub><span> of </span><span>{{f[1] * f[2]}}</span> = ?
            <span><input #res (keyup)="0" [class.red]="res.value && res.value != f[2]*f[0]"
                [class.green]="res.value && res.value == f[2]*f[0]"></span>
            <span>
              &nbsp;<button *ngIf="res.value == f[2]*f[0]" (click)="inc()">Next</button>
            </span>
          </p>
        </h2>
        <h3>
          {{math.floor(((i+1) / shuffledQuests.length)*100) | number }}% ({{i+1}} of {{shuffledQuests.length}})
        </h3>
      </div>
    </div>
  </div>

  <div *ngIf="action === 'sum'">
    <div *ngFor="let q of shuffledPlusMin; let i = index">
      <div *ngIf="i === where">
        <h2>
          <p>
            <span>{{i%2 === 0 ? q[0] : q[1]}}</span> + <span>{{i%2 === 0 ? q[1] : q[0]}}</span> = ?
            <span><input #res (keyup)="0" [class.red]="res.value && res.value != (q[0] + q[1])"
                [class.green]="res.value && res.value == (q[0] + q[1])"></span>
            <span>
              &nbsp;<button *ngIf="res.value == (q[0] + q[1])" (click)="inc()">Next</button>
            </span>
          </p>
        </h2>
        <h3>
          {{math.floor(((i+1) / shuffledPlusMin.length)*100) | number }}% ({{i+1}} of {{shuffledPlusMin.length}})
        </h3>
      </div>
    </div>
  </div>

  <div *ngIf="action === 'sub'">
    <div *ngFor="let q of shuffledPlusMin; let i = index">
      <div *ngIf="i === where">
        <h2>
          <p>
            <span>{{getQ0(i, q)}}</span> - <span>{{getQ1(i, q)}}</span> = ?
            <span><input #res (keyup)="0" [class.red]="res.value && res.value != (getQ0(i, q) - getQ1(i, q))"
                [class.green]="res.value && res.value == (getQ0(i, q) - getQ1(i, q))"></span>
            <span>
              &nbsp;<button *ngIf="res.value == (getQ0(i, q) - getQ1(i, q))" (click)="inc()">Next</button>
            </span>
          </p>
        </h2>
        <h3>
          {{math.floor(((i+1) / shuffledPlusMin.length)*100) | number }}% ({{i+1}} of {{shuffledPlusMin.length}})
        </h3>
      </div>
    </div>
  </div>

  <input type="checkbox" #distime> Display time
  <h4 *ngIf="time$ | async as time"
    [style.color]="distime.checked || where === shuffledQuests.length -1 ? 'inherit' : 'transparent'">
    Time {{math.floor(time/(60*60)) | number: '2.0-0'}}:{{math.floor(time/60)%60 | number: '2.0-0'}}:{{time%60 | number:
    '2.0-0'}}
  </h4>

</div>